<div class="row align-items-center mt-3">
    <div class="col-md-6">
        <h1 class="main-title fs-20 m-0 fw-bold">List Car</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <a class="btn btn-primary text-white fs-14 fw-bold" href="/create">
            <img class="me-2" src="/images/fi_plus.png" alt="plus">
            Add New Car
        </a>
    </div>
</div>
<% if (msg !='' ) { %>
    <!-- Success Alert -->
    <div class="alert alert-success position-fixed text-center fs-16 fw-medium text-white mb-0" role="alert">
        <%= msg %>
    </div>
    <!-- End Success Alert -->
    <% } else if (deleteMsg!='' ) { %>
        <!-- Delete Alert -->
        <div class="alert alert-dark position-fixed text-center fs-16 fw-medium text-white mb-0" role="alert">
            <%= deleteMsg %>
        </div>
        <!-- End Delete Alert -->
        <% } else if (errorMsg!='' ) { %>
            <!-- Error Alert -->
            <div class="alert alert-danger position-fixed text-center fs-16 fw-medium text-white mb-0" role="alert">
                <%= errorMsg %>
            </div>
            <!-- End Error Alert -->
            <% } %>

                <div class="row">
                    <div class="filter d-flex gap-3 my-4">
                        <form method="get" id="filter-form">
                            <button class="btn btn-outline-secondary active" type="submit" data-size="all" id="all-btn">All</button>
                            <button type="submit" data-size="small" class="btn btn-outline-secondary" id="small-btn">Small</button>
                            <button class="btn btn-outline-secondary" type="submit" data-size="medium" id="medium-btn">Medium</button>
                            <button class="btn btn-outline-secondary" type="submit" data-size="large" id="large-btn">Large</button>
                        </form>
                    </div>
                </div>
                <div class="cars-container">
                    <div class="row">
                        <!-- Card -->
                        <% cars.data.forEach(car=> { %>
                            <% var date=new Date(car.updatedAt) %>
                                <div class="col-md-4 mt-4">
                                    <div class="card">
                                        <img src="/images/image_1.png" class="card-img" alt="Car Image">
                                        <div class="card-body p-0">
                                            <h5 class="card-title mt-3 mb-1 fs-14">
                                                <span style="text-transform: capitalize;">
                                                    <%= car.name %>
                                                </span> / <span style="text-transform: capitalize;">
                                                    <%= car.size %>
                                                </span>
                                            </h5>
                                            <p class="card-harga mb-1 fs-16">Rp. <%= car.rent_price%> /
                                                    hari
                                            </p>
                                            <div class="card-info mt-3">
                                                <div class="info">
                                                    <p class="clock d-flex fs-14">
                                                        <img class="me-2" src="/images/fi_clock.png" alt="clock icon">
                                                        <span class="ml-2">Updated at <%= date.getDate() %>
                                                                <%= date.toLocaleString( undefined, { month:'short',
                                                                    year:'numeric' } ) %>, <%=
                                                                        date.toLocaleTimeString(undefined, {hour12:
                                                                        true, hour: '2-digit' , minute:'2-digit'}) %>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-md-6">
                                                <a href="#" data-id="<%= car.id %> "
                                                    class=" delete_btn font-weight-bold btn btn-outline-danger d-flex align-items-center justify-content-center"
                                                    data-bs-toggle="modal" data-bs-target="#delete-confirm">
                                                    <img class="me-2" src="/images/fi_trash-2.png" alt="">
                                                    Delete</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="edit_btn font-weight-bold btn btn-success btn-outline-success d-flex align-items-center justify-content-center text-white"
                                                    href="/update/<%= car.id %> ">
                                                    <img class="me-2" src="/images/fi_edit.png" alt="">
                                                    Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <!-- End Card -->

                                    <!-- Modal -->
                                    <div class="modal fade" id="delete-confirm" tabindex="-1"
                                        aria-labelledby="delete-confirm-label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content justify-content-center">
                                                <form id="modal-form" method="get"
                                                    action="/api/car/delete/<%= cars.id %> ">
                                                    <div
                                                        class="modal-body justify-content-center align-items-center d-flex flex-column pb-0">
                                                        <img src="/images/img-BeepBeep.png" alt="">
                                                        <h5 class="mt-4 fs-16 mb-3">Menghapus Data Mobil</h5>
                                                        <p class="fs-14 text-center mb-0">
                                                            Setelah dihapus, data mobil tidak dapat dikembalikan.
                                                            Yakin
                                                            ingin
                                                            menghapus?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer justify-content-center border-0 pt-0 mt-3">
                                                        <button type="submit" class="btn btn-primary px-4">Ya</button>
                                                        <button type="button" class="btn btn-outline-primary"
                                                            data-bs-dismiss="modal">Tidak</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Modal -->
                    </div>
                </div>